In [47]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

from config import local_db_user, local_db_pwd, local_db_endpoint, local_db_port, local_db_name
from config import remote_db_endpoint, remote_db_port, remote_db_user, remote_db_pwd, remote_db_name

In [48]:
local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}")
local_conn = local_engine.connect()

In [49]:
cloud_engine = create_engine(f"postgresql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
cloud_conn = cloud_engine.connect()

In [20]:
fdi = "data/fdi.csv"
fdi_df = pd.read_csv(fdi)
fdi_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,Angola,AGO,FDI,"$878,620,000","$2,145,470,000","$1,743,504,000","$3,576,971,780","$2,197,227,820","($1,303,836,930)",...,"$2,205,298,180","($3,227,211,182)","($3,023,770,966)","($1,464,627,991)","($7,120,017,424)","$3,657,514,667","$10,028,215,163","($179,517,619)","($7,397,295,409)","($6,456,076,413)"
1,0,Botswana,BWA,FDI,"$57,171,313","$30,680,474","$407,997,829","$418,040,912","$390,889,365","$420,853,646",...,"$208,699,416","$218,380,384","$293,208,112","$163,223,421","$67,136,669","$515,184,276","$378,553,781","$122,162,735","$177,114,236","$228,718,291"
2,0,Burundi,BDI,FDI,"$11,683,246","($11,441)",$-,$-,"$44,691","$584,702",...,"$348,405","$780,582","$3,354,999","$604,920","$116,727,137","$81,747,197","$49,622,866","$55,420","$316,473","$983,747"
3,0,DR Congo,COD,FDI,"$94,190,400","$102,221,900","$187,598,694","$391,254,724","$409,032,815","$180,000,000",...,"($243,200,000)","$2,742,300,000","$1,596,024,304","$2,891,607,809","$1,697,585,831","$1,499,572,152","$1,165,720,010","$932,374,669","$1,047,979,483","$1,284,643,394"
4,0,Chad,TCD,FDI,"$115,172,422","$459,866,392","$924,119,210","$712,663,455","$466,793,492","($99,342,519)",...,"$374,900,000","$313,000,000","$281,900,000","$579,793,037","$520,200,793","($675,545,915)","$559,642,023","$244,516,024","$334,997,124","$662,206,573"

In [50]:
stability = "data/political_stability.csv"
stability_df = pd.read_csv(stability)

In [22]:
corruption = "data/corruption.csv"
corruption_df = pd.read_csv(corruption)
corruption_df

,id,country_name,country Code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,9,Angola,AGO,Corruption Index,17.00,NaN,17.0,18.00,20.00,20.00,...,19.00,19.00,20.00,22.00,23.00,19.00,15.00,18.00,21.00,19.00
1,9,Benin,BEN,Corruption Index,NaN,NaN,NaN,45.00,38.00,29.00,...,29.00,28.00,30.00,36.00,36.00,39.00,37.00,36.00,39.00,40.00
2,9,Botswana,BWA,Corruption Index,60.00,60.00,64.0,57.00,60.00,59.00,...,56.00,58.00,61.00,65.00,64.00,63.00,63.00,60.00,60.00,61.00
3,9,Burkina Faso,BFA,Corruption Index,30.00,NaN,NaN,NaN,NaN,34.00,...,36.00,31.00,30.00,38.00,38.00,38.00,38.00,42.00,42.00,41.00
4,9,Burundi,BDI,Corruption Index,NaN,NaN,NaN,NaN,21.00,23.00,...,18.00,18.00,19.00,19.00,21.00,20.00,21.00,20.00,19.00,17.00
5,9,Cape Verde,CPV,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,51.00,51.00,55.00,60.00,58.00,57.00,55.00,59.00,55.00,57.00
6,9,Cameroon,CMR,Corruption Index,20.00,20.00,22.0,18.00,NaN,22.00,...,22.00,22.00,25.00,26.00,25.00,27.00,27.00,26.00,25.00,25.00
7,9,Central African Republic,CAF,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,20.00,21.00,22.00,26.00,25.00,24.00,24.00,20.00,26.00,26.00
8,9,Chad,TCD,Corruption Index,NaN,NaN,NaN,NaN,17.00,NaN,...,16.00,17.00,22.00,19.00,19.00,22.00,22.00,20.00,20.00,19.00
9,9,Comoros,COM,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,23.00,22.00,20.00,28.00,28.00,26.00,26.00,24.00,28.00,27.00
10,9,Congo,COG,Corruption Index,NaN,NaN,NaN,22.00,23.00,23.00,...,19.00,21.00,22.00,26.00,22.00,23.00,23.00,20.00,20.00,19.00
11,9,Ivory Coast,CIV,Corruption Index,27.00,24.00,27.0,37.00,20.00,19.00,...,21.00,21.00,22.00,29.00,27.00,32.00,32.00,34.00,36.00,35.00
12,9,DR Congo,COD,Corruption Index,NaN,NaN,NaN,NaN,20.00,21.00,...,19.00,20.00,20.00,21.00,22.00,22.00,22.00,21.00,21.00,20.00
13,9,Equatorial Guinea,GNQ,Corruption Index,NaN,NaN,NaN,NaN,NaN,19.00,...,18.00,19.00,19.00,20.00,19.00,NaN,NaN,NaN,17.00,16.00
14,9,Eritrea,ERI,Corruption Index,NaN,NaN,NaN,NaN,26.00,26.00,...,26.00,26.00,25.00,25.00,20.00,18.00,18.00,18.00,23.00,24.00
15,9,Ethiopia,ETH,Corruption Index,32.00,NaN,35.0,25.00,23.00,22.00,...,27.00,27.00,27.00,33.00,33.00,33.00,33.00,34.00,33.00,34.00
16,9,Gabon,GAB,Corruption Index,NaN,NaN,NaN,NaN,33.00,29.00,...,29.00,28.00,30.00,35.00,34.00,37.00,34.00,35.00,31.00,31.00
17,9,Gambia,GMB,Corruption Index,NaN,NaN,NaN,NaN,28.00,27.00,...,29.00,32.00,35.00,34.00,28.00,29.00,28.00,26.00,37.00,37.00
18,9,Ghana,GHA,Corruption Index,35.00,34.00,39.0,33.00,36.00,35.00,...,39.00,41.00,39.00,45.00,46.00,48.00,47.00,43.00,42.00,41.00
19,9,Guinea,GIN,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,18.00,20.00,21.00,24.00,24.00,25.00,25.00,27.00,28.00,28.00
20,9,Guinea-Bissau,GNB,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,19.00,21.00,22.00,25.00,19.00,19.00,17.00,16.00,17.00,16.00
21,9,Kenya,KEN,Corruption Index,21.00,20.00,19.0,19.00,21.00,21.00,...,22.00,21.00,22.00,27.00,27.00,25.00,25.00,26.00,27.00,27.00
22,9,Lesotho,LSO,Corruption Index,NaN,NaN,NaN,NaN,NaN,34.00,...,33.00,35.00,35.00,45.00,49.00,49.00,44.00,39.00,40.00,41.00
23,9,Liberia,LBR,Corruption Index,NaN,NaN,NaN,NaN,NaN,22.00,...,31.00,33.00,32.00,41.00,38.00,37.00,37.00,37.00,32.00,32.00
24,9,Madagascar,MDG,Corruption Index,NaN,NaN,17.0,26.00,31.00,28.00,...,30.00,26.00,30.00,32.00,28.00,28.00,28.00,26.00,24.00,25.00
25,9,Malawi,MWI,Corruption Index,41.00,32.00,29.0,28.00,28.00,28.00,...,33.00,34.00,30.00,37.00,37.00,33.00,31.00,31.00,31.00,32.00
26,9,Mali,MLI,Corruption Index,NaN,NaN,NaN,30.00,32.00,29.00,...,28.00,27.00,28.00,34.00,28.00,32.00,35.00,32.00,31.00,32.00
27,9,Mauritania,MRT,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,25.00,23.00,24.00,31.00,30.00,30.00,31.00,27.00,27.00,27.00
28,9,Mauritius,MUS,Corruption Index,47.00,45.00,45.0,44.00,41.00,42.00,...,54.00,54.00,51.00,57.00,52.00,54.00,53.00,54.00,50.00,51.00
29,9,Mozambique,MOZ,Corruption Index,22.00,NaN,NaN,27.00,28.00,28.00,...,25.00,27.00,27.00,31.00,30.00,31.00,31.00,27.00,22.00,23.00
30,9,Namibia,NAM,Corruption Index,54.00,54.00,57.0,47.00,41.00,43.00,...,45.00,44.00,44.00,48.00,48.00,49.00,53.00,52.00,51.00,53.00
31,9,Niger,NER,Corruption Index,NaN,NaN,NaN,NaN,22.00,24.00,...,29.00,26.00,25.00,33.00,34.00,35.00,34.00,35.00,32.00,34.00
32,9,Nigeria,NGA,Corruption Index,12.00,10.00,16.0,14.00,16.00,19.00,...,25.00,24.00,24.00,27.00,25.00,27.00,26.00,28.00,27.00,27.00
33,9,Rwanda,RWA,Corruption Index,NaN,NaN,NaN,NaN,NaN,31.00,...,33.00,40.00,50.00,53.00,53.00,49.00,54.00,54.00,55.00,56.00
34,9,Sao Tome and Principe,STP,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,28.00,30.00,30.00,42.00,42.00,42.00,42.00,46.00,46.00,46.00
35,9,Senegal,SEN,Corruption Index,35.00,29.00,31.0,32.00,30.00,32.00,...,30.00,29.00,29.00,36.00,41.00,43.00,44.00,45.00,45.00,45.00
36,9,Seychelles,SYC,Corruption Index,NaN,NaN,NaN,NaN,44.00,40.00,...,48.00,48.00,48.00,52.00,54.00,55.00,55.00,30.00,61.00,66.00
37,9,Sierra Leone,SLE,Corruption Index,NaN,NaN,NaN,22.00,23.00,24.00,...,22.00,24.00,25.00,31.00,30.00,31.00,29.00,10.00,30.00,30.00
38,9,South Africa,ZAF,Corruption Index,50.00,48.00,48.0,44.00,46.00,45.00,...,47.00,45.00,41.00,43.00,42.00,44.00,44.00,45.00,43.00,43.00
39,9,South Sudan,SSD,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.00,15.00,15.00,11.00,12.00,13.00
40,9,Sudan,SDN,Corruption Index,NaN,NaN,NaN,23.00,22.00,21.00,...,15.00,16.00,16.00,13.00,11.00,11.00,15.00,14.00,16.00,16.00
41,9,Swaziland,SWZ,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,37.00,39.00,NaN,NaN,NaN,39.00,38.00
42,9,Tanzania,TZA,Corruption Index,25.00,22.00,27.0,25.00,28.00,29.00,...,26.00,27.00,30.00,35.00,33.00,31.00,30.00,32.00,36.00,36.00
43,9,Togo,TGO,Corruption Index,NaN,NaN,NaN,NaN,NaN,NaN,...,28.00,24.00,24.00,30.00,29.00,29.00,32.00,32.00,30.00,30.00
44,9,Uganda,UGA,Corruption Index,23.00,19.00,21.0,22.00,26.00,25.00,...,25.00,25.00,24.00,29.00,26.00,26.00,25.00,25.00,25.00,26.00
45,9,Zambia,ZMB,Corruption Index,34.00,26.00,26.0,25.00,26.00,NaN,...,30.00,30.00,32.00,37.00,38.00,38.00,38.00,38.00,35.00,35.00
46,9,Zimbabwe,ZWE,Corruption Index,30.00,29.00,27.0,23.00,23.00,26.00,...,22.00,24.00,22.00,20.00,21.00,21.00,21.00,22.00,22.00,22.00
47,9,Sub Saharan Africa,SSF,Corruption Index,32.37,31.47,31.5,29.42,28.81,28.54,...,28.62,28.87,29.53,33.85,32.55,33.02,32.87,31.49,32.53,32.74

In [23]:
education = "data/education.csv"
education_df = pd.read_csv(education)
education_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,7,Angola,AGO,Education Index,0.29,0.3,0.31,0.32,0.34,0.35,...,0.4,0.40,0.42,0.44,0.45,0.46,0.47,0.49,0.50,0.50
1,7,Benin,BEN,Education Index,0.27,0.29,0.31,0.32,0.33,0.34,...,0.39,0.40,0.41,0.43,0.45,0.46,0.47,0.47,0.47,0.48
2,7,Botswana,BWA,Education Index,0.59,0.6,0.6,0.6,0.61,0.61,...,0.63,0.64,0.64,0.65,0.65,0.65,0.66,0.66,0.66,0.66
3,7,Burkina Faso,BFA,Education Index,0.14,0.14,0.15,0.15,0.16,0.17,...,0.22,0.23,0.25,0.25,0.26,0.26,0.28,0.29,0.30,0.30
4,7,Burundi,BDI,Education Index,0.19,0.19,0.2,0.21,0.23,0.24,...,0.36,0.38,0.39,0.40,0.41,0.42,0.42,0.43,0.41,0.42

In [24]:
gdp = "data/gdp.csv"
gdp_df = pd.read_csv(gdp)
gdp_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,1,Angola,AGO,GDP,"$9,129,594,819","$8,936,063,723","$15,285,594,828","$17,812,705,294","$23,552,052,408","$36,970,918,699",...,"$70,307,163,678","$83,799,496,611","$111,789,686,464","$128,052,853,643","$136,709,862,831","$145,712,200,313","$116,193,649,124","$101,123,851,090","$122,123,822,334","$101,353,230,785"
1,1,Benin,BEN,GDP,"$3,511,248,900","$3,663,017,700","$4,174,634,520","$5,337,266,688","$6,179,176,459","$6,565,043,460",...,"$9,699,586,794","$9,535,344,283","$10,693,321,954","$11,141,358,945","$12,517,845,732","$13,284,528,654","$11,388,160,958","$11,821,066,153","$12,701,656,931","$14,250,985,959"
2,1,Botswana,BWA,GDP,"$5,788,329,609","$5,489,608,300","$5,438,857,107","$7,511,582,173","$8,957,467,707","$9,931,134,941",...,"$10,267,133,178","$12,786,654,366","$15,351,972,230","$14,420,393,564","$14,901,750,765","$16,250,750,259","$14,420,604,206","$15,646,316,818","$17,405,538,618","$18,663,264,706"
3,1,Burkina Faso,BFA,GDP,"$2,956,746,304","$3,187,582,125","$3,605,329,547","$4,730,140,785","$5,441,918,269","$6,143,909,201",...,"$9,412,813,382","$10,109,618,964","$12,080,296,644","$12,561,016,091","$13,444,301,139","$13,943,016,924","$11,832,159,276","$12,822,558,022","$14,169,905,602","$16,199,434,625"
4,1,Burundi,BDI,GDP,"$870,486,066","$876,794,723","$825,394,490","$784,654,424","$915,257,323","$1,117,113,046",...,"$1,781,455,092","$2,032,135,247","$2,235,820,868","$2,333,308,099","$2,451,625,333","$2,705,783,272","$3,104,394,858","$2,959,640,987","$3,172,292,379","$3,036,931,818"

In [25]:
humandev = "data/human_development.csv"
humandev_df = pd.read_csv(humandev)
humandev_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,6,Angola,AGO,Human Development Index,0.394,0.404,0.419,0.428,0.44,0.453,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
1,6,Benin,BEN,Human Development Index,0.398,0.41,0.419,0.426,0.434,0.44,...,0.468,0.473,0.479,0.489,0.500,0.505,0.510,0.512,0.515,0.520
2,6,Botswana,BWA,Human Development Index,0.578,0.58,0.576,0.583,0.589,0.598,...,0.647,0.660,0.676,0.687,0.699,0.709,0.714,0.719,0.724,0.728
3,6,Burkina Faso,BFA,Human Development Index,0.286,0.29,0.296,0.303,0.312,0.324,...,0.366,0.375,0.385,0.394,0.401,0.405,0.413,0.420,0.429,0.434
4,6,Burundi,BDI,Human Development Index,0.293,0.294,0.304,0.312,0.322,0.329,...,0.391,0.402,0.410,0.416,0.422,0.429,0.427,0.427,0.421,0.423

In [26]:
life = "data/life_expectancy_ssa.csv"
life_df = pd.read_csv(life)
life_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,5,Angola,AGO,Life Expectancy,46.5,47.1,47.7,48.4,49.3,50.2,...,54.3,55.4,56.3,57.2,58.1,58.8,59.4,59.9,60.4,60.8
1,5,Benin,BEN,Life Expectancy,55.4,55.7,56.0,56.4,56.9,57.4,...,59.0,59.3,59.6,59.8,60.1,60.3,60.6,60.9,61.2,61.5
2,5,Botswana,BWA,Life Expectancy,50.6,50.3,50.2,50.5,51.2,52.1,...,58.4,60.2,61.9,63.5,65.0,66.3,67.3,68.2,68.8,69.3
3,5,Burkina Faso,BFA,Life Expectancy,50.5,50.9,51.4,52.0,52.6,53.3,...,56.4,57.1,57.8,58.4,58.9,59.5,59.9,60.4,60.8,61.2
4,5,Cape verde,CPV,Life Expectancy,68.6,69.1,69.6,69.9,70.2,70.4,...,70.9,71.1,71.2,71.4,71.7,71.9,72.1,72.3,72.6,72.8

In [27]:
life_agg = "data/Life Expectancy Aggregates.csv"
life_agg_df = pd.read_csv(life_agg)
life_agg_df.head()

,Country_Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,North America,NAC,76.88,77.08,77.19,77.30,77.72,77.75,77.95,78.24,...,78.65,78.81,78.92,79.03,79.04,79.14,79.01,78.88,78.88,78.89
1,South Asia,SAS,62.82,63.23,63.62,64.01,64.40,64.78,65.18,65.59,...,66.43,66.85,67.26,67.65,68.01,68.34,68.64,68.92,69.17,69.41
2,World,WLD,67.55,67.82,68.07,68.33,68.65,68.92,69.26,69.59,...,70.25,70.56,70.88,71.17,71.46,71.74,71.95,72.18,72.39,72.56
3,Low Income,LIC,53.58,54.11,54.69,55.31,55.96,56.63,57.31,57.99,...,59.29,59.88,60.43,60.95,61.45,61.91,62.35,62.76,63.14,63.50
4,Least Developed,LDC,55.48,55.98,56.50,57.06,57.65,58.26,58.88,59.52,...,60.78,61.39,61.97,62.52,63.03,63.51,63.95,64.35,64.71,65.04

In [42]:
gdp_pc = "data/gdp_per_capita.csv"
gdp_pc_df = pd.read_csv(gdp_pc)
gdp_pc_df

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,3,Angola,AGO,GDP Per Capita,$557,$527,$872,$983,"$1,256","$1,902",...,"$3,123","$3,588","$4,615","$5,100","$5,255","$5,408","$4,167","$3,506","$4,096","$3,290"
1,3,Benin,BEN,GDP Per Capita,$511,$518,$572,$710,$797,$822,...,"$1,084","$1,037","$1,130","$1,145","$1,251","$1,291","$1,077","$1,087","$1,137","$1,241"
2,3,Botswana,BWA,GDP Per Capita,"$3,522","$3,278","$3,191","$4,331","$5,074","$5,520",...,"$5,256","$6,435","$7,617","$7,070","$7,225","$7,781","$6,800","$7,244","$7,893","$8,280"
3,3,Burkina Faso,BFA,GDP Per Capita,$255,$267,$293,$374,$418,$458,...,$622,$648,$751,$758,$787,$793,$653,$688,$738,$820
4,3,Burundi,BDI,GDP Per Capita,$136,$134,$123,$114,$128,$152,...,$212,$234,$250,$252,$257,$275,$306,$282,$293,$272
5,3,Cape Verde,CPV,GDP Per Capita,"$1,259","$1,292","$1,402","$1,809","$2,024","$2,099",...,"$3,517","$3,378","$3,740","$3,448","$3,616","$3,589","$3,043","$3,131","$3,293","$3,617"
6,3,Cameroon,CMR,GDP Per Capita,$650,$651,$708,$866,"$1,010","$1,012",...,"$1,315","$1,287","$1,405","$1,355","$1,466","$1,543","$1,328","$1,364","$1,425","$1,534"
7,3,Central African Republic,CAF,GDP Per Capita,$251,$250,$261,$294,$321,$331,...,$475,$488,$552,$566,$380,$424,$377,$402,$451,$476
8,3,Chad,TCD,GDP Per Capita,$166,$197,$220,$292,$454,$658,...,$800,$893,$985,$967,$980,"$1,020",$776,$693,$666,$726
9,3,Comoros,COM,GDP Per Capita,$646,$680,$744,$936,"$1,059","$1,069",...,"$1,339","$1,316","$1,448","$1,403","$1,505","$1,514","$1,243","$1,273","$1,324","$1,416"
10,3,DR Congo,COD,GDP Per Capita,$405,$154,$175,$174,$194,$218,...,$299,$334,$387,$425,$458,$487,$497,$471,$467,$557
11,3,Congo,COG,GDP Per Capita,"$1,030",$868,$912,"$1,026","$1,324","$1,680",...,"$2,314","$2,812","$3,287","$3,032","$3,048","$2,997","$1,762","$1,815","$1,768","$2,224"
12,3,Ivory Coast,CIV,GDP Per Capita,$651,$664,$717,$870,$921,$931,...,"$1,210","$1,213","$1,209","$1,243","$1,416","$1,561","$1,973","$2,013","$2,111","$2,303"
13,3,Equatorial Guinea,GNQ,GDP Per Capita,"$1,726","$2,313","$2,744","$3,619","$6,152","$10,963",...,"$16,668","$17,289","$21,642","$21,711","$20,391","$19,394","$11,283","$9,250","$9,668","$10,144"
14,3,Eritrea,ERI,GDP Per Capita,$308,$317,$294,$335,$408,$389,...,$595,$501,$643,..,..,..,..,..,..,..
15,3,Swaziland,SWZ,GDP Per Capita,"$1,729","$1,522","$1,405","$2,149","$2,699","$3,084",...,"$3,386","$4,169","$4,497","$4,528","$4,230","$4,039","$3,690","$3,448","$3,953","$4,146"
16,3,Ethiopia,ETH,GDP Per Capita,$124,$121,$112,$119,$136,$162,...,$381,$342,$354,$467,$500,$567,$641,$717,$769,$772
17,3,Gabon,GAB,GDP Per Capita,"$4,126","$3,990","$4,122","$4,922","$5,729","$6,889",...,"$7,690","$8,849","$10,810","$9,813","$9,684","$9,663","$7,385","$6,984","$7,230","$7,957"
18,3,Gambia,GMB,GDP Per Capita,$594,$505,$412,$336,$643,$666,...,$833,$861,$763,$743,$701,$607,$650,$684,$677,$713
19,3,Ghana,GHA,GDP Per Capita,$258,$269,$305,$368,$418,$492,...,"$1,075","$1,299","$1,549","$1,588","$2,345","$1,971","$1,744","$1,931","$2,026","$2,202"
20,3,Guinea,GIN,GDP Per Capita,$363,$337,$344,$394,$411,$322,...,$674,$672,$651,$717,$769,$787,$769,$733,$857,$983
21,3,Guinea-Bissau,GNB,GDP Per Capita,$308,$320,$331,$371,$404,$436,...,$557,$558,$703,$616,$634,$622,$603,$661,$737,$778
22,3,Kenya,KEN,GDP Per Capita,$397,$395,$390,$430,$452,$512,...,$905,$952,$972,"$1,137","$1,210","$1,316","$1,337","$1,411","$1,572","$1,708"
23,3,Lesotho,LSO,GDP Per Capita,$436,$406,$382,$574,$753,$843,...,$891,"$1,137","$1,309","$1,254","$1,194","$1,223","$1,152","$1,044","$1,150","$1,222"
24,3,Liberia,LBR,GDP Per Capita,$307,$307,$306,$243,$286,$295,...,$471,$513,$597,$658,$722,$721,$710,$715,$699,$677
25,3,Madagascar,MDG,GDP Per Capita,$294,$334,$319,$369,$284,$320,...,$468,$472,$531,$518,$541,$531,$467,$476,$515,$528
26,3,Malawi,MWI,GDP Per Capita,$156,$150,$298,$267,$283,$290,...,$438,$479,$535,$392,$348,$371,$381,$316,$357,$381
27,3,Mali,MLI,GDP Per Capita,$270,$307,$335,$393,$440,$489,...,$699,$710,$838,$779,$805,$848,$751,$780,$831,$900
28,3,Mauritania,MRT,GDP Per Capita,$677,$646,$640,$718,$804,$971,...,"$1,392","$1,611","$1,880","$1,815","$1,892","$1,677","$1,524","$1,537","$1,578","$1,601"
29,3,Mauritius,MUS,GDP Per Capita,"$3,929","$3,857","$4,019","$4,794","$5,388","$5,283",...,"$7,318","$8,000","$9,197","$9,291","$9,637","$10,154","$9,260","$9,682","$10,485","$11,208"
30,3,Mozambique,MOZ,GDP Per Capita,$314,$291,$300,$324,$381,$415,...,$520,$471,$595,$658,$664,$674,$590,$429,$461,$499
31,3,Namibia,NAM,GDP Per Capita,"$2,136","$1,906","$1,769","$2,561","$3,397","$3,674",...,"$4,265","$5,318","$5,723","$5,942","$5,378","$5,435","$4,869","$4,523","$5,303","$5,495"
32,3,Niger,NER,GDP Per Capita,$198,$208,$227,$268,$285,$321,...,$459,$473,$508,$526,$549,$562,$483,$495,$517,$572
33,3,Nigeria,NGA,GDP Per Capita,$568,$590,$742,$795,"$1,008","$1,268",...,"$1,891","$2,292","$2,520","$2,747","$2,998","$3,223","$2,730","$2,176","$1,969","$2,033"
34,3,Rwanda,RWA,GDP Per Capita,$219,$203,$199,$216,$241,$292,...,$582,$612,$672,$729,$726,$747,$755,$749,$772,$783
35,3,Sao Tome and Principe,STP,GDP Per Capita,..,$525,$578,$679,$745,$867,...,"$1,068","$1,095","$1,264","$1,341","$1,577","$1,783","$1,596","$1,710","$1,811","$2,001"
36,3,Senegal,SEN,GDP Per Capita,$605,$615,$657,$824,$941,$994,...,"$1,317","$1,280","$1,374","$1,330","$1,376","$1,397","$1,219","$1,270","$1,362","$1,466"
37,3,Seychelles,SYC,GDP Per Capita,"$7,579","$7,663","$8,331","$8,525","$10,177","$11,093",...,"$9,707","$10,805","$12,189","$12,007","$14,766","$14,700","$14,745","$15,069","$15,906","$16,391"
38,3,Sierra Leone,SLE,GDP Per Capita,$139,$229,$252,$266,$267,$292,...,$391,$402,$448,$566,$717,$715,$588,$501,$499,$534
39,3,South Africa,ZAF,GDP Per Capita,"$3,032","$2,666","$2,502","$3,751","$4,834","$5,384",...,"$5,863","$7,329","$8,007","$7,501","$6,832","$6,433","$5,735","$5,273","$6,132","$6,374"
40,3,South Sudan,SSD,GDP Per Capita,..,..,..,..,..,..,...,"$1,338","$1,536","$1,516","$1,180","$1,779","$1,323","$1,120",..,..,..
41,3,Sudan,SDN,GDP Per Capita,$366,$383,$418,$485,$573,$689,...,"$1,164","$1,401","$1,438","$1,458","$1,557","$1,710","$1,910","$1,299","$1,112",$624
42,3,Tanzania,TZA,GDP Per Capita,$411,$407,$412,$431,$459,$493,...,$695,$743,$781,$868,$970,"$1,030",$948,$966,"$1,005","$1,061"
43,3,Togo,TGO,GDP Per Capita,$302,$293,$327,$396,$413,$406,...,$538,$534,$587,$572,$621,$641,$571,$597,$626,$679
44,3,Uganda,UGA,GDP Per Capita,$262,$239,$246,$244,$296,$326,...,$793,$816,$826,$784,$804,$876,$840,$731,$747,$767
45,3,Zambia,ZMB,GDP Per Capita,$346,$383,$382,$435,$539,$703,...,"$1,160","$1,489","$1,673","$1,763","$1,879","$1,763","$1,338","$1,281","$1,535","$1,556"
46,3,Zimbabwe,ZWE,GDP Per Capita,$563,$568,$531,$478,$483,$477,...,$772,$948,"$1,094","$1,305","$1,430","$1,435","$1,445","$1,465","$1,548","$1,684"
47,3,Sub-Saharan Africa,SSF,GDP Per Capita,$957,$929,$974,"$1,171","$1,428","$1,673",...,"$2,096","$2,332","$2,682","$2,697","$2,780","$2,774","$2,344","$2,286","$2,446","$2,560"

In [38]:
health_gdp = "data/health_expenditure_per_gdp.csv"
health_gdp_df = pd.read_csv(health_gdp)
health_gdp_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,4,Angola,AGO,Health Expenditure,1.91,4.48,3.33,3.55,3.97,2.85,...,3.84,2.7,2.65,2.4,2.73,2.43,2.61,2.71,2.79,..
1,4,Benin,BEN,Health Expenditure,4.23,4.43,4.15,4.15,4.2,4.01,...,3.86,4.09,4.22,4.67,3.91,3.65,3.99,3.86,3.72,..
2,4,Botswana,BWA,Health Expenditure,5.83,6.16,6.42,6.18,5.8,5.03,...,6.53,6.19,5.78,6.14,6.22,5.6,5.73,5.56,6.13,..
3,4,Burundi,BDI,Health Expenditure,6.18,6.4,6.47,6.31,7.7,8.42,...,10.35,11.28,10.07,8.53,8.14,6.89,6.58,7.49,7.52,..
4,4,Cape Verde,CPV,Health Expenditure,4.43,4.75,4.76,4.5,4.38,4.27,...,3.88,4.48,4.31,5.13,5.29,5.33,4.82,4.84,5.17,..

In [34]:
gni = "data/gni_per_capita.csv"
gni_df = pd.read_csv(gni)
gni_df.head()

,id,country_name,country_code,series,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,2,Angola,AGO,GNI Per Capita,$360,$390,$590,$710,"$1,010","$1,370",...,"$3,170","$3,240","$3,420","$4,170","$4,780","$5,010","$4,520","$3,770","$3,450","$3,210"
1,2,Benin,BEN,GNI Per Capita,$480,$530,$530,$600,$730,$820,...,"$1,080","$1,080","$1,090","$1,120","$1,220","$1,270","$1,180","$1,110","$1,090","$1,200"
2,2,Botswana,BWA,GNI Per Capita,"$3,170","$3,260","$2,930","$3,370","$3,920","$4,940",...,"$5,330","$5,610","$6,610","$7,260","$7,580","$7,530","$6,840","$6,570","$6,730","$7,410"
3,2,Burundi,BDI,GNI Per Capita,$130,$130,$130,$120,$120,$140,...,$200,$220,$230,$250,$260,$260,$260,$270,$280,$280
4,2,Cape Verde,CPV,GNI Per Capita,"$1,410","$1,350","$1,300","$1,520","$1,900","$2,160",...,"$3,480","$3,400","$3,510","$3,440","$3,490","$3,360","$3,210","$3,130","$3,080","$3,400"

In [51]:
try:
    local_conn.execution_options(isolation_level="AUTOCOMMIT").execute(f"CREATE DATABASE {local_db_name}")
except Exception as e:
    print(e)
try:
    local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}/{local_db_name}")
    local_conn = local_engine.connect()
except Exception as e:
    print(e)
local_engine.table_names()

(psycopg2.errors.DuplicateDatabase) database "fdi_test" already exists

[SQL: CREATE DATABASE FDI_Test]
(Background on this error at: http://sqlalche.me/e/f405)

['life',
 'gdp_pc',
 'gni',
 'health_gdp',
 'life_agg',
 'fdi',
 'stability',
 'corruption',
 'education',
 'gdp',
 'humandev']

In [45]:
# gni_df.to_sql(name = 'gni', if_exists = 'replace', con = local_conn, index = False)
# health_gdp_df.to_sql(name = 'health_gdp', if_exists = 'replace', con = local_conn, index = False)
# gdp_pc_df.to_sql(name = 'gdp_pc', if_exists = 'replace', con = local_conn, index = False)
# life_agg_df.to_sql(name = 'life_agg', if_exists = 'replace', con = local_conn, index = False)
# fdi_df.to_sql(name='fdi', con = local_engine, if_exists='replace', index=False)
stability_df.to_sql(name='stability', con = local_engine, if_exists='replace', index=False)
# corruption_df.to_sql(name='corruption', con = local_engine, if_exists='replace', index=False)
# education_df.to_sql(name='education', con = local_engine, if_exists='replace', index=False)
# gdp_df.to_sql(name='gdp', con = local_engine, if_exists='replace', index=False)
# humandev_df.to_sql(name='humandev', con = local_engine, if_exists='replace', index=False)
# life_df.to_sql(name='life', con = local_engine, if_exists='replace', index=False)

In [46]:
# life_agg_df.to_sql(name = 'life_agg', con = cloud_conn, if_exists = 'replace', index = False)
# gni_df.to_sql(name = 'gni', if_exists = 'replace', con = cloud_conn, index = False)
# health_gdp_df.to_sql(name = 'health_gdp', if_exists = 'replace', con = cloud_conn, index = False)
# gdp_pc_df.to_sql(name = 'gdp_pc', if_exists = 'replace', con = cloud_conn, index = False)
# fdi_df.to_sql(name ='fdi', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)
stability_df.to_sql(name ='stability', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)
# corruption_df.to_sql(name ='corruption', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)
# education_df.to_sql(name ='education', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)
# gdp_df.to_sql(name ='gdp', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)
# humandev_df.to_sql(name ='humandev', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)
# life_df.to_sql(name ='life', if_exists ='replace', con = cloud_conn, chunksize=500, index=False)